* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.text-logo-link {
  font-size: 28px;
  padding: 1rem;
  color: white;
  background-color: tomato;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.link {
  color: crimson;
}

.link-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
}

.link:hover,
.link-btn:hover {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.image-logo {
  width: 100px;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-0-5 {
  gap: 0.5rem;
}

.gap-1-5 {
  gap: 1.5rem;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-align-items-center {
  align-items: center;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumb-link {
  color: #3481c4;
}

.breadcrumb-link::before {
  content: 'Go back to: ';
}

.form {
  max-width: 600px;
  margin: 0 auto;
}
